pa6/
testcases/fifth/output/*.txt
testcases/sixth/output/*.txt
testcases/eighth/output/*.txt
testcases/fourth/output/*.txt
testcases/seventh/output/*.txt
image-1.png
image-2.png
image.png
pa3.pdf
PA-extra-credit.pdf
PAEC.md
